*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.bg-container{
  background-image: url(./assets/bg3.jpg);
  height: 260rem;
  background-repeat: no-repeat;
  background-size: 100% 568px;
  background-position: top center;
  background-color: rgb(242, 242, 242);
}

.header{
  height:2.5rem;
  display: flex;
  justify-content: space-between;
  padding:10px 5px;
  margin:0px 150px 30px 150px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 0px 157px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#flag{
  height:25px;
  width:auto;
  border-radius: 25px;
}

.icon{
  height:35px;
  width:auto;
  margin: 0px 10px 0px 0px;
}

.menu-block{
  display: flex;
  align-items: center;
  margin: 10px 10px;
  padding:5px 10px;
}

.menu-text{
  color: white;
  margin: 0;
  line-height: 1.2;
  font-size: 0.8rem;
}

.menu-block .bold{
  font-weight: 700;
  font-size: 10px;
}

.menu-block .light{
  font-size: 9.5px;
}

#biz{
  font-size: 0.8rem;
  font-weight: 600;
}

#bizicon{
  height:25px;
}

#grow{
  opacity: 0.65;
}

#manage{
  font-weight: 600;
}

#manage1{
  font-weight: 600;
}

.header span{
  font-weight: 700;
  font-size: 10px;
}

#login{
  background: linear-gradient(to right, #00c6ff, #0072ff);
  border-radius: 5px;;
}

#arrow{
  color: white;
  font-size: 15px;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
}

#mybiz{
  border-left:2px rgb(121,121,121)dotted;
  box-shadow: 1px 1px 5px rgba(4, 4, 4,0.3);
}

#trip{
  border-left: 2px rgb(121,121,121)dotted;
}

.currency{
  display: flex;
  color: white;
  font-family: "poppins", sans-serif;
  align-items: center;
  background-color:#585858;
  border-radius: 5px;
  padding: 12px 10px;
}

.currency span{
  padding:2px 2px;
}

.menu-block:hover{
  cursor: pointer;
}

.logo:hover{
  cursor: pointer;
}

.currency:hover{
  cursor: pointer;
}

.nav{
  background-color: white;
  height:6rem;
  width:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 250px 0px 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 3px 20px 12px 20px;
  z-index:2;
  position: relative;
  margin-bottom:-20px;
}

.nav p{
  color:rgb(71, 70, 70);
}

.nav-items{
  padding:25px;
  font-size: 0.85rem;
  text-align: center;
}

.nav-items img{
  height:38px;
}

.nav-items:hover{
  cursor: pointer;
}

#flights {
  font-weight: 700;
  border-bottom: 3.5px solid rgb(0,140,255);
}

#flights p{
  color: #0072ff;
}

.new-label {
  position: absolute;
  top: -9px;
  left: 74%;
  transform: translateX(-50%);
  background: linear-gradient(to right, #9B6EBF, #DD5677); 
  color: white;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 550;
  font-family: sans-serif;
}

.main-content{
  margin:0px 155px;
  height:185rem;
  width:auto;
}

.flight-content{
  height:300px;
  background-color: white;
  padding:20px;
  margin-top: -65px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index:1;
  border-radius: 10px;
}

.flight-content-top{
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color:#565555;
}

.trip-options{
  display: flex;
  align-items: center;
  gap: 20px;
}

.trip-options input[type="radio"] {
  display: none;
}

.trip-options span{
  color: #fff;
}

.trip-options label {
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.trip-options input[type="radio"]:checked + label {
  background-color: #EAF5FF;
  color: black;
  font-weight: 550;
  padding: 2px 8px;
  margin: 0px 10px;
  font-size:0.85 ;
}

.trip-options label .radio-icon {
  width: 10px;
  height: 10px;
  border: 1px solid #999;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  font-size:9px;
  text-align: center;
}

input[type="radio"]:checked + label .radio-icon {
  border-color: #007bff;
  background-color: #007bff;
}

.flight-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  margin: 10px auto;
  height:120px;
  cursor:pointer;
  position:relative;
}

.flight-box .section {
  padding: 16px 24px;
  flex: 1;
  border-right: 1px solid #eee;
  height:87px;
}

.label {
  color: #505050;
  margin: -8px 50px 15px 0px;
  font-size: 14px;
}

.sub {
  color: #595757;
  font-size: 14px;
  line-height: 1.4;
}

.sub-grey {
  color: #888;
  font-weight: 600;
  font-size: 12px;
}

.small {
  font-size: 15px;
  font-weight: normal;
}

#arrow {
  font-size: 12px;
  margin-left: 4px;
}

.switch {
  position: relative;
  margin: 0 4px;
}

.circle {
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #007bff;
  font-size: 16px;
  margin:-22px;
}

.flight-box .section h1{
  font-size:2rem;
}

.flight-box .section .date{
  display: flex;
  align-items:center;
  gap: 5px;
}

.flight-box .section .date .small{
  font-size:1.3rem;
}

.flight-box .section .arrow{
  display: flex;
  align-items: center;
  flex-direction: row;
  height:20px;
}

.arrow .arr{
  font-size: 26px;
  color: #007bff;
  margin:0px 20px 40px -45px;
  font-weight: 550;
}

.section:hover{
  background-color: rgb(234, 245, 255);
  transition: 0.1s ease-in-out;
}

.flight-content-bottom{
  height:56px;
  margin:16px 0px;
  display:flex;
  align-items: center;
}

.flight-content-bottom .right-section{
  display: flex;
  gap:8px;
  margin-left:25px;
}

.flight-content-bottom .right-section .choose{
  border: 1px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px 8px 12px;
  border-radius: 7px;
  cursor: pointer;
}

.flight-content-bottom .right-section .choose input{
  height:1.2rem;
  width:1.2rem;
  cursor: pointer;
}

.flight-content-bottom .left-section .black-bold{
  color:black;
  font-weight:700;
  font-size:0.9rem;
  text-align: center;
  margin-bottom:4px;
}

.flight-content-bottom .left-section .gradient{
  background: linear-gradient(to right, rgb(67, 224, 168),rgb(34, 149, 147));
  color:white;
  font-weight: bold;
  text-align: center;
  padding:2px 6px;
  border-radius: 5px;
  font-size:0.9rem;
}

.right-section .choose .choose-type .type1{
  font-size:0.9rem;
  color:rgb(61, 61, 61);
  font-weight: 500;
} 

.right-section .choose .choose-type .type2{
  font-size:0.7rem;
  color: rgb(117, 117, 117);
  margin-top:3px;
}

input[type="radio"]:checked + .choose-type .type1 {
  color: #007bff;
}

input[type="radio"]:checked + .choose-type {
  font-weight: bold;
}

.right-section .choose:hover{
  background-color: rgb(234, 245, 255);
  transition: 0.1s ease-in-out;
}

.main-content .search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  margin-top:-25px;
  font-size: 24px;
  font-weight:bold ;
  border: none;
  border-radius: 25px;
  padding: 8px 60px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.info .info-top{
color:white;
text-align: center;
}

.info .info-top .explore{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 40px;
  cursor:default;
}

.info-top .explore .size-small{
  font-size:13px;
  font-weight: bold;
}

.info .info-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor:pointer;
  background-color: #fff;
  margin:0px 100px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px rgba(4, 4, 4,0.1);
}

.info .info-bottom .info-options{
  display: flex;
  align-items: center;
  color:#4A4A4A;
  padding:10px 6px;
  border-right:1px solid #ddd;
  margin-right:5px;
}

.info-options .info-big{
  font-size: 14px;
}

.info-options .info-small{
  font-size: 12px;
}

.info-options img{
  height: 30px;
  width: 37px;
  margin-right:8px;
}

#gift{
  border: none;
}

.main-content .offers{
  background-color:#fff;
  margin:20px 0px;
  padding:18px 40px 40px;
  box-shadow: 1px 1px 10px rgba(4, 4, 4,0.1);
  border-radius: 12px;
  height:480px
}

.offers-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.offers-section h2 {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(57, 57, 57);
  cursor: pointer;
}

.tabs {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  gap: 30px;
  font-size: 0.9rem;
  cursor: pointer;
}

.tab {
  padding: 8px 0;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}

.tab.active {
  color: #007bff;
  font-weight: bold;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007bff;
  border-radius: 2px;
}

.offers .view-all{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.offers .view-all .view{
  display: flex;
  align-items: center;
  gap: 5px;
  color: #007bff;
  font-weight: bold;
  font-size:1rem;
}

.offers .view-all .arrow-head{
  box-shadow:1px 1px 10px rgba(4, 4, 4,0.2);
  border-radius: 25px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  gap:6px;
}

#arrow-head{
  color: #007bff;
  font-size: 18px;
  padding: 1px 6px;
}

.arrow-head span{
  border-right:1px solid #eee;
}

.offers-box{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.offer1{
  flex:0 0 450px;
  border-radius: 8px;
  margin:20px 20px 20px 0px;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(4, 4, 4,0.2);
}

.offer1 .offer1-info{
  display: flex;
}

.offer1-text {
  margin: 8px 8px 10px 8px;
}
.offer1-text .offer-head{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color:rgb(91, 90, 90);
  margin-bottom: 5px;
}

.offer1-text .offer-head .bold{
  font-weight: 550;
}

.offer1-info .offer-img{
  margin:8px;
}

.offer1-info .offer-img img{
  border-radius: 5px;
}

.offer1-text .offer-mid .line{
  margin: -5px 0px 8px 0px;
  color:rgb(255, 0, 0);
}

.offer1-text .offer-mid .small{
  font-size: 14px;
  color:rgb(91, 90, 90);
}

.offer1 .foot{
  text-align: right;
  font-weight: bold;
  margin:0px 10px 12px 0px;
  font-size: 0.95rem;
}

.offer1 .foot a{
  text-decoration: none;
  color: rgb(0, 140, 255);
}

.main-content .banner{
  margin: 20px 0px;
  border-radius: 10px;
  width: 100%;
}

.main-content .emirates-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  height:200px;
  margin:20px 0px 20px 0px;
  cursor: pointer;
}

.emirates-left {
  flex: 1;
  position: relative;
}

.plane-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  clip-path: ellipse(100% 120% at 0% 50%);
  object-fit: cover;
}

.emirates-right {
  flex: 1.25;
  padding: 0 30px;
}

.emirates-right h2 {
  font-size: 28px;
  font-weight: 700;
}

.emirates-right .highlight {
  color: red;
}

.emirates-right p {
  color: #6c757d;
  margin: 12px 0;
}

.view-store {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid rgb(0, 140, 255);
  color: rgb(0, 140, 255);
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.banner3 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right,rgb(234, 245, 255),rgb(255, 255, 255));
  padding: 30px;
  border-radius: 12px;
  gap: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0,0.1);
}

.banner3-left {
  flex: 1.5;
}

.banner3-right {
  flex: 2;
  display: flex;
  gap: 20px;
}

.hotel-card {
  position: relative;
  width: 300px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.banner3-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.hotel-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  align-items: end;
  padding: 12px;
  box-sizing: border-box;
}

.hotel-name {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.banner3-left{
  display: flex;
  align-items: center;
}

.banner3-left h2{
  font-size: 28px;
  font-weight: 750;
}

.explore{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 25px;
}

.explore-card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding:16px 25px;
  margin:5px;
  height:80px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex:1;
  position:relative;
}

.explore-card .explore-img{
  height:60px;
  margin-right:10px;
}

.explore-card .explolre-text{
  font-size: 15px;
  color: #5b5a5a;
}

.explore-card .explolre-text .explore-link{
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.explore-card .exp-arr{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#exp-arr1{
  position: absolute;
  top: 50%;
  left: -28px; 
  transform: translateY(-50%);
}

#exp-arr2{
  position: absolute;
  top: 50%;
  right: -28px; 
  transform: translateY(-50%);
}

.banner4{
  width:80%;
  margin:20px auto;
  display: block;
  border-radius: 15px;
  cursor: pointer;
}

.app-link{
  display: flex;
  justify-content: space-between;
  height:160px;
  width: 100%;
  padding:10px 0px 40px 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0,0.1);
}

.app-link .app-left .app-left1{
  display: flex;
  align-items: center;
  gap: 10px;
  padding:16px;
}

.app-left1 .app-left1-img img{
  height:70px;
  width: 70px;
}

.app-link .app-left .app-left2{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:16px;
}

.app-left2 img{
  height:28px;
  width: 28px;
}

.app-left1 .small{
  font-size:0.9rem;
  color: #5b5a5a;
}

.app-left2 input{
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  width:300px;
}

.app-left2 .app-left2-text{
  border:1px solid #5b5a5a;
  display: flex;
  align-items: center;
  padding:5px 5px 5px 5px;
  border-top-left-radius:5px ;
  border-bottom-left-radius:5px ;
  margin-left:20px
}

.app-left2 button{
  background-color: transparent;
  border:1px solid rgb(0, 140, 255);
  color: rgb(0, 140, 255);
  font-size:1rem;
  font-weight: 800;
  height:40px ;
  padding:0px 10px;
  border-top-right-radius:5px ;
  border-bottom-right-radius:5px ;
  cursor:pointer;
}

.app-right img{
  height:110px;
  width:auto;
  margin:50px 40px 0px 0px;
  cursor: pointer;
}

.collection{
  padding:30px 0px 30px 40px;
  margin: 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0,0.1);
}

.collect-head{
  display: flex;
  justify-content: space-between;
}

.collection-cards{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  
}
.main-card {
  position: relative;
  width: 210px;
  height: 250px;
  margin: 8px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  flex: 0 0 auto;
  cursor: pointer;
}

.main-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  box-sizing: border-box;
  color: white;
}

.badge {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 6px;
}

.card-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}

.collect-head .arrow-head{
  box-shadow:1px 1px 10px rgba(4, 4, 4,0.2);
  border-radius: 25px;
  margin:0px 25px 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  gap:6px;
}

#arrow-head{
  color: #007bff;
  font-size: 18px;
  padding: 1px 6px;
  cursor: pointer;
}

.arrow-head span{
  border-right:1px solid #eee;
}

.card-overlay1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  box-sizing: border-box;
  color: white;
}

.footer-nav1{
  margin:50px 155px;
}

.footer-nav1 p{
  font-size: 0.75rem;
  color: #5b5a5a;
  line-height: 1.4;
}

.footer-nav1 .heading{
  text-transform: uppercase;
  margin:12px 0px;
  font-size:0.7rem;
}

.footer-nav2{
  background-color: rgb(231, 231, 231);
  padding: 60px 155px;
  display: flex;
  justify-content: space-between;
}

.footer-text{
  flex:1;
  margin:0px 20px 0px 0px;
}

.footer-nav2 h3{
  font-weight: 550; 
  font-size:1rem;
  padding-bottom:25px; 
}

.footer-nav2 p{
  color:rgb(74, 74, 74) ;
  font-size:0.75rem;
  line-height: 1.3;
}

.footer{
  height:180px;
  padding:0px 155px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img{
  height:50px;
  cursor: pointer;
}

.footer p{
  color: #fff;
  font-weight:550;
}

@media (max-width: 1500px) {
  body {
    overflow-x: auto;  /* enable horizontal scroll */
  }
  .bg-container {
    min-width: 1500px; /* prevent shrinking */
  }
}